@import "abstracts/variables";
@import "abstracts/function";
//@import "abstracts/_slick.scss";
//@import "abstracts/_slick-theme.scss";
//

@import "components/Landingpage";
@import "components/CsSlider";
@import "components/modal";

* {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  background: $color-background;
}
