@import '~antd/dist/antd.css';

.menu {
  padding: 0 20px;
}
.ant-menu{
  background-color:unset;
  color:white
}

.ant-menu-horizontal > .ant-menu-item > a{
  color:white;
}

.ant-menu-horizontal > .ant-menu-item > a:hover{
  color:#e5e5e5;
  border-bottom-color: unset;
}
.ant-menu-horizontal .ant-menu-item {
  border-bottom: unset;
}

.ant-menu:hover{
  border-bottom-color: unset;
}

.menu__logo {
  width: 150px;
  float: left;

}

.menu__logo a {
  display: inline-block;
  font-size: 30px;
  /*padding: 10px 20px;*/
  color:#E50914;
  font-weight: bold;

}

.menu__container .ant-menu-item {
  /*padding: 0px 5px;*/
}

.menu__container .ant-menu-submenu-title {
  /*padding: 10px 20px;*/
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  /*padding: 10px 15px!important;*/
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
  text-align: end;
}

.menu__container .menu_left {
  float: left;
  /*padding:10px*/

}

.menu__container .menu_right {
  float: right;
  /*padding: 10px;*/
}

.menu__mobile-button {
  float: left;
  height: 32px;
  padding: 6px;
  margin-top: 10px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: none;
  color: white;
  border:none;
}

.menu_drawer .ant-drawer-title{
  color:#E50914!important;
  font-size: 24px;
  font-weight: bold;
  background-color: #141414;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
  background-color: #141414;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
  background-color: #141414;
  border:none
}
.ant-menu-item a{
  color:white!important;
}
.ant-btn:active{
  background-color: #E50914!important;
  color:white;
}

.ant-btn:hover{
  background-color: #E50914!important;
  color:white;
  border-color: #E50914!important;
}


.ant-btn:focus{
  border-color: #E50914!important;
  color:#141414;
}


@media (max-width: 1024px) {
  .menu__logo a {
    padding: 8px 10px;
  }
  .menu__container .menu_left {
    float: left;
    margin-left: 10px;
  }
  .menu__container .ant-menu-item a, .menu__container .ant-menu-submenu-title a{
    padding:10px 5px ;
  }

  .menu__mobile-button {
    display: inline-block !important;
  }
  .menu_left{
    display: none;
  }
  .menu_right{
    display: block;
  }
  .menu__container .menu_right{
    float:none;
  }

  .menu__container .ant-menu-horizontal{
    float:right;
    display: block;
    padding-top:10px;
    padding-bottom: 10px;
    width:60%!important;
  }

}

@media (max-width: 767px) {

  .menu{
    width:100%;
    padding:0 3px!important;
    position: absolute!important;
  }
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left{
    display: none;
  }

  .menu_right{
    display: block;
  }

  .searchEle{
    display: block!important;
  }

  .menu__logo{
    width:80px;
  }

  .menu__logo a {
    margin-left: -20px;
    font-size: 18px;

  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 0px;
  }

  .searchIcon{
    padding:0px!important;
  }
  .searchEle::selection{
    background-color: red;
  }

  .ant-menu-item .ant-menu-item-selected{
    background-color: red!important;
  }

  .menu__logo a {
    padding: 10px 20px;
  }

  .menu__container .menu_right{
    float:none;
  }


  .menu__container .ant-menu-horizontal{
    float:right;
    display: block;
    padding-top:0px;
    padding-bottom: 0px;
    width:60%!important;
  }


  .avatorNav,
  .logoutNav,
  .loginNav,
  .signupNav,
  .alarmNav{
    display: none;
  }

  .ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow{
    left:90%!important;
  }
}




.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {

  border-bottom: none;
}
