.layout {
  width: 90%;
  //margin: auto;

  p {
    color: white;
    font-size: 1.9em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-left: 1%;
    margin-bottom: 0;
  }
}
.sliders {


  width: 95%;
  margin: -50px auto;

  .slideIcon{
    color:white;
  }

  //.csslider {
  //  //margin: 2em 0;
  //  //height: 10rem;
  //
  //  .slick-list {
  //    padding: 40px 0;
  //
  //    &:hover .movie {
  //      transform: translateX(-25%);
  //      transition: all 0.2s ease-in;
  //    }
  //
  //    .slick-slide {
  //
  //      &:hover ~ .slick-slide {
  //        transform: translateX(50%);
  //        transition: all 0.2s ease-in;
  //      }
  //
  //      .movie {
  //        position: relative;
  //
  //        &:hover {
  //          transform: scale(1.6);
  //          z-index: 100;
  //          transition: all 0.2s ease-in;
  //        }
  //
  //        .detailTitle {
  //          display: none;
  //        }
  //
  //        &:hover .detailTitle {
  //          display: block;
  //          font-size: 16px;
  //          position: absolute;
  //          bottom: 30%;
  //          font-weight: 600;
  //          left: 7%;
  //          color: #ffffff;
  //          margin-bottom: 0;
  //          text-align: left;
  //          overflow: hidden;
  //          text-overflow: ellipsis;
  //          white-space: nowrap;
  //          width:90%
  //        }
  //
  //        .detailVoteAverage {
  //          display: none;
  //        }
  //
  //        &:hover .detailVoteAverage {
  //          display: block;
  //          font-size: 10px;
  //          position: absolute;
  //          bottom: 20%;
  //          left: 7%;
  //          color: #ffffff;
  //          margin-bottom: 0;
  //        }
  //
  //        .detailLan {
  //          display: none;
  //        }
  //
  //        &:hover .detailLan {
  //          display: block;
  //          font-size: 10px;
  //          position: absolute;
  //          bottom: 20%;
  //          left: 15%;
  //          color: #ffffff;
  //          margin-bottom: 0;
  //        }
  //
  //        .playBtn {
  //          display: none;
  //        }
  //
  //        &:hover .playBtn {
  //          display: block;
  //          position: absolute;
  //          bottom: 47%;
  //          left: 7%;
  //          color: #E50914;
  //        }
  //
  //        .detailIcon {
  //          display: none;
  //        }
  //
  //        &:hover .detailIcon {
  //          display: block;
  //          position: absolute;
  //          bottom: 10%;
  //          left: 50%;
  //          color: #ffffff;
  //        }
  //
  //        .likeBtn {
  //          display: none;
  //        }
  //
  //        &:hover .likeBtn {
  //          display: block;
  //          position: absolute;
  //          bottom: 60%;
  //          left: 85%;
  //          color: #ffffff;
  //        }
  //
  //        .dislikeBtn {
  //          display: none;
  //        }
  //
  //        &:hover .dislikeBtn {
  //          display: block;
  //          position: absolute;
  //          bottom: 45%;
  //          left: 85%;
  //          color: #ffffff;
  //        }
  //
  //        .plusBtn {
  //          display: none;
  //        }
  //
  //        &:hover .plusBtn {
  //          display: block;
  //          position: absolute;
  //          bottom: 30%;
  //          left: 85%;
  //          color: #ffffff;
  //        }
  //
  //        img {
  //          height: auto;
  //          cursor: pointer;
  //          transition: all 0.2s ease-in;
  //        }
  //      }
  //    }
  //  }
  //}
}
