@import '../abstracts/function';

.layout {
  width: 90%;
  //margin: auto;

  p {
    color: white;
    font-size: 1.9em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-left: 1%;
    margin-bottom: 0;
  }
}
.sliders {

  width: 95%;
  margin: -50px auto;

  @include responsive(phone) {
    width: 85%;
    position:relative;
    z-index: 997!important;
  }
  .slideIcon{
    color:white;
  }

}
