@import '../abstracts/function';

.ant-modal-body{
  padding:0px!important;
}
.modalLeft {
  width: 60%;
  background-color: red;
  height: inherit;
  background: linear-gradient(90deg, #000 50%, transparent);

  @include responsive(phone) {
    width:100%!important;
    background: linear-gradient(90deg, #000 20%, transparent)!important;
  }


  .modalLeft:before {
    background-image: linear-gradient(to right, #000, transparent);
    position: absolute;
    top: 0;
    left: 100%;
    width: 275px;
    content: '';
  }
  .modalInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-left: 50px;

    @include responsive(phone) {
      margin:0 auto;
      width:90%;
    }
  }

  #modaltitle {
    color: white;
    font-size: 3.5em;
    position: sticky;
    top: 5%;
    margin-bottom: 0;

    @include responsive(phone) {
      font-size: 2rem;
    }

  }

  .modalaverage{
    color:#46d369;
    font-size:17px;
    font-weight: 600;
    position: sticky;
    top:20%;

  }

  .modalfirstdate{
    color:white;
    font-size:17px;
    font-weight: 600;
    position: sticky;
    top:20%;
    margin-left: 2em;
  }


  #modaloverview{
    position: sticky;
    top:30%;
    color:#999999;
    font-size: 19px;
    width:70%;



    @include responsive(phone) {
      font-size: 14px;

      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;

    }
  }

  .modalBtn{
    top:60%;
  }
}
