.ant-modal-content{
  background-color: unset!important;
  box-shadow: none!important;
}

.ant-modal-wrap{

}
.ant-modal{
  width:100%!important;
}

.ant-modal-body{
  height: 70vh;
  display: flex;

}
.ant-modal-close{
  display: none;
}

.ant-modal-footer{
display: none;}

//.closemodal{
// position:absolute!important;
//  right:26px!important;
//  z-index:200!important;
//}
//
.modalLeft:before{
  background-image: linear-gradient(to right,#000,transparent);
  position: absolute;
  top:0;
  left:100%;
  width:275px;
  content:'';
}

#modaltitle {
  color: white;
  font-size: 3.5em;
  position: sticky;
  top: 5%;
  margin-bottom: 0;
}

.modalaverage{
  color:#46d369;
  font-size:17px;
  font-weight: 600;
  position: sticky;
  top:20%;

}

.modalfirstdate{
  color:white;
  font-size:17px;
  font-weight: 600;
  position: sticky;
  top:20%;
  margin-left: 2em;
}

#modaloverview{
  position: sticky;
  top:30%;
  color:#999999;
  font-size: 19px;
  width:55%;
}

.modalBtn{


  top:60%;
}
