@import '../abstracts/function';


.ant-modal-content{
  background-color: unset!important;
  box-shadow: none!important;
}
.ant-modal{
  width:100%!important;
}

.ant-modal-body{
  height: 70vh;
  display: flex;
}
.ant-modal-close{
  display: none;
}
.ant-modal-footer{
display: none;}


.csslider {
  //margin: 2em 0;
  //height: 10rem;

  .slick-list {
    padding: 40px 0;

    &:hover .movie {
      transform: translateX(-25%);
      transition: all 0.2s ease-in;

      @include responsive(phone) {
        transform: none;
        transition: none;
      }
    }



    .slick-slide {

      &:hover ~ .slick-slide {
        transform: translateX(50%);
        transition: all 0.2s ease-in;

        @include responsive(phone) {
          transform: none;
          transition: none;
        }
      }



      .movie {
        position: relative;

        &:hover {
          transform: scale(1.6);
          z-index: 100;
          transition: all 0.2s ease-in;

          @include responsive(phone) {
            transform: none;
            transition: none;
          }
        }



        .detailTitle {
          display: none;
        }

        &:hover .detailTitle {
          display: block;
          font-size: 14px;
          position: absolute;
          bottom: 30%;
          font-weight: 600;
          left: 7%;
          color: #ffffff;
          margin-bottom: 0;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width:90%;
        }

        .voteStart{
          display: none;
        }

        &:hover .voteStart {
          display: block;
          position: absolute;
          bottom: 23%;
          left: 7%;
          width:8px;

        }



        .detailVoteAverage {
          display: none;
        }

        &:hover .detailVoteAverage {
          display: block;
          font-size: 10px;
          position: absolute;
          bottom: 20%;
          left: 11%;
          color: #ffffff;
          margin-bottom: 0;
        }


        .releaseDateText {
          display: none;
        }

        &:hover .releaseDateText {
          display: none;

        }


        .releaseDate {
          display: none;
        }

        &:hover .releaseDate {
         display: none;
        }

        .playBtn {
          display: none;
        }

        &:hover .playBtn {
          display: block;
          position: absolute;
          bottom: 57%;
          left: 7%;
          color: #ffffff;
        }

        .detailIcon {
          display: none;
        }

        &:hover .detailIcon {
          display: block;
          position: absolute;
          bottom: 10%;
          left: 50%;
          color: #ffffff;
        }

        .detailIcon:hover{
          color:#E50914;
        }

        .likeBtn {
          display: none;
        }

        &:hover .likeBtn {
          display: block;
          position: absolute;
          bottom: 60%;
          left: 85%;
          color: #ffffff;
        }

        .dislikeBtn {
          display: none;
        }

        &:hover .dislikeBtn {
          display: block;
          position: absolute;
          bottom: 45%;
          left: 85%;
          color: #ffffff;
        }

        .plusBtn {
          display: none;
        }

        &:hover .plusBtn {
          display: block;
          position: absolute;
          bottom: 30%;
          left: 85%;
          color: #ffffff;
        }

        img {
          height: auto;
          cursor: pointer;
          transition: all 0.2s ease-in;
        }
      }
    }
  }
}









