.ant-modal-content{
  background-color: unset!important;
  box-shadow: none!important;
}

.ant-modal-wrap{

}
.ant-modal{
  width:100%!important;
}

.ant-modal-body{
  height: 70vh;
  display: flex;

}
.ant-modal-close{
  display: none;
}

.ant-modal-footer{
display: none;}

//.closemodal{
// position:absolute!important;
//  right:26px!important;
//  z-index:200!important;
//}
//
