.layout {
  width: 90%;
  margin: auto;

  p {
    color: white;
    font-size: 1.9em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-left: 1%;
    margin-bottom: 0;
  }
}
//.ant-popover-content{
//  width:95vw!important;
//  margin: 0 auto;
//  background-color:#ffffff;
//  left:0;
//
//
//  .ant-popover-title{
//    background-color:#ffffff;
//  }
//
//  .ant-popover-inner-content{
//    background-color: #ffffff;
//  }
//}
.csslider {
  margin: 2em 0;
  height: 10rem;
  padding: 15px;
  align-items: center;

  //.slick-arrow{
  //  margin-top: 50px;
  //}

  .slick-list {
    //display: flex;
    //height: 600px;
    padding: 20px 0;

    .slick-slide {
      //margin-top:50px;


      .movie {
        position: relative;

        &:hover {
          transform: scale(1.5);
          z-index: 100;
          transition: all 0.2s ease-in;
        }

        .detailTitle{
          position: absolute;
          bottom: 20%;
          left:50%;
          color: #ffffff;
          display: none;
        }

        &:hover .detailTitle {
          display: block;
          font-size:14px;
          position: absolute;
          bottom: 10%;
          left:7%;
          color: #ffffff;
        }

        .detailIcon {
          position: absolute;
          bottom: 10%;
          left:50%;
          color: #ffffff;
          display: none;
        }

        &:hover .detailIcon {
          display: block;
          transform: scale(1.5);
          position: absolute;
          bottom: 10%;
          left:50%;
          color: #ffffff;
        }

        //&:hover img {
        //  transform: scale(1.5);
        //  position: static;
        //
        //}

        img {
          height: auto;
          cursor: pointer;
          transition: all 0.2s ease-in;
        }
      }
    }


  }
}

