@import '../abstracts/function';

.ant-modal-content{
  background-color: unset!important;
  box-shadow: none!important;
}

.ant-modal{
  width:100%!important;
}

.ant-modal-body{
  height: 70vh;
  display: flex;

}
.ant-modal-close{
  display: none;
}

.ant-modal-footer{
  display: none;}

.modalLeft{
  width: 60%;
  background-color: red;
  height: inherit;
  background: linear-gradient(90deg, #000 50%, transparent);
}

.modalLeft:before{
  background-image: linear-gradient(to right,#000,transparent);
  position: absolute;
  top:0;
  left:100%;
  width:275px;
  content:'';
}

#modaltitle {
  color: white;
  font-size: 3.5em;
  position: sticky;
  top: 5%;
  margin-bottom: 0;
}

.modalaverage{
  color:#46d369;
  font-size:17px;
  font-weight: 600;
  position: sticky;
  top:20%;

}

.modalfirstdate{
  color:white;
  font-size:17px;
  font-weight: 600;
  position: sticky;
  top:20%;
  margin-left: 2em;
}

#modaloverview{
  position: sticky;
  top:30%;
  color:#999999;
  font-size: 19px;
  width:70%;
}

.modalBtn{
  top:60%;
}


.sliderss {

  width: 95%;
  margin: -50px auto;

  @include responsive(phone) {
    width: 85%;
    position:relative;
    z-index: 997;
  }

  .slick-list {
    padding: 40px 0;

    &:hover .postermovie {
      transform: translateX(-10%);
      transition: all 0.2s ease-in;

      @include responsive(phone) {
        transform: none;
        transition: none;
      }
    }

    .slick-slide {

      &:hover ~ .slick-slide {
        transform: translateX(20%);
        transition: all 0.2s ease-in;

        @include responsive(phone) {
          transform: none;
          transition: none;
        }
      }

      .postermovie {
        position: relative;

        &:hover {
          transform: scale(1.2)!important;
          z-index: 100;
          transition: all 0.2s ease-in;

          @include responsive(phone) {
            transform: none!important;
            transition: none!important;
          }
        }

        .playBtn {
          display: none;
        }

        &:hover .playBtn {
          display: block;
          position: absolute;
          bottom: 40%;
          left: 7%;
          color: #ffffff;
          font-size: 24px;
          font-weight: bold;
        }

        .detailTitle {
          display: none;
        }

        &:hover .detailTitle {
          display: block;
          font-size: 18px;
          position: absolute;
          bottom: 28%;
          font-weight: 600;
          left: 5%;
          color: #ffffff;
          margin-bottom: 0;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 90%
        }

        .voteStart {
          display: none;
        }

        &:hover .voteStart {
          display: block;
          position: absolute;
          bottom: 22%;
          left: 7%;
          width: 17px;
        }

        .detailVoteAverage {
          display: none;
        }

        &:hover .detailVoteAverage {
          display: block;
          font-size: 16px;
          position: absolute;
          bottom: 21%;
          left: 19%;
          color: #ffffff;
          margin-bottom: 0;
        }

        .releaseDateText {
          display: none;
        }

        &:hover .releaseDateText {
          display: block;
          font-size: 14px;
          position: absolute;
          bottom: 21%;
          left: 30%;
          color: #ffffff;
          margin-bottom: 0;
          @include responsive(phone) {
            display: none;
          }
        }

        .releaseDate {
          display: none;
        }

        &:hover .releaseDate {
          display: block;
          font-size: 14px;
          position: absolute;
          bottom: 21%;
          left: 58%;
          color: #ffffff;
          margin-bottom: 0;

          @include responsive(desktop) {
            left: 56%!important;
          }

          @include responsive(tab) {
            left: 51%!important;
          }

          @include responsive(phone) {
            display: none;
          }
        }

        .detailIcon {
          display: none;
        }

        &:hover .detailIcon {
          display: block;
          position: absolute;
          bottom: 10%;
          left: 45%;
          color: #ffffff;
        }

        .detailIcon:hover{
          color:#E50914;
        }

        .soundBtn {
          display: none;
        }

        &:hover .soundBtn {
          display: block;
          position: absolute;
          bottom: 10%;
          left: 7%;
          color: #ffffff;
          font-size: 17px;
          font-weight: bold;
        }

        .plusBtn {
          display: none;
        }

        &:hover .plusBtn {
          display: block;
          position: absolute;
          bottom: 10%;
          left: 85%;
          color: #ffffff;
          font-size: 17px;
          font-weight: bold;
        }

        img {
          height: auto;
          cursor: pointer;
          transition: all 0.2s ease-in;
        }
      }
    }
  }
}
