@import '../abstracts/function';

.setBtn{

  display: flex;

  @include responsive(phone) {
    display: none
  }


  .playBtn {
    color: #181818;
    border-radius: 0.3rem;
    padding-left: calc(3.6rem / 2);
    padding-right: calc(3.6rem / 2);
    font-weight: bold;
    margin-right: 1rem;
  }

  .detailBtn {
    border-radius: 0.3rem;
    padding-left: calc(3.6rem / 2);
    padding-right: calc(3.6rem / 2);
    font-weight: bold;
    margin-right: 1rem;
    background-color: rgba(133,133,133,0.6);
    color: white;
    border: unset;
  }
}
